*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgb(129, 175, 216);
    height: 43px;
}
.menu{
    display: flex;
    text-align: center;
    height: 50px;
    
    margin-left: 50px;
}
.menu li {
    list-style: none;
    border-right: 1px solid rgb(0, 0, 0);
    width: 100%;
    height: 87%;
}
.menu li a {
    display: block;
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
    color: black;
    padding-top: 15px;
    height: 45px;
}
.menu li a:hover  {
    background-color: azure;
    
}
.mn6 {
    border: 0;
}

